@import "mixins";
footer {
    width: 100%;
    height: 110px;
    background: #91dc5b;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
        color: #000;
        font-family: Inter;
        font-size: 32px;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
    }
    @include responsivo(834px){
        p{
            font-size: 28px;
        }
    }
    @include responsivo(768px){
        height: 90px;
        p{
            font-size: 28px;
        }
    }
    @include responsivo(430px){
        height: 60px;
        p{
            font-size: 18px;
        }
    }
    @include responsivo(375px){
        height: 50px;
        p{
            font-size: 13px;
        }
    }
   
}
