header {
    margin-top: 70px !important;
    margin-bottom: 70px !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    h1 {
        font-family: "Inter", sans-serif;
        color: #000;
        font-size: 64px;
        font-weight: 600;
    }
}
